@charset "UTF-8";

body {
	background: #e3f6f5;
}
.center{
	text-align: center;
}

/*top画面のみ*/
.ashi{
	font-size: 20px;
	font-family: 'Amatic SC', cursive;
	display: flex;
	width:50px;
	height:100px;
		top: 0;
    left: 50%;
}

.moji{
	font-size: 30px;
}

/*〇〇さんログイン中*/
.ribbon8 {
  display: flex;
  float:right;
  position: absolute;
  top:105px;
  right:5px;
  padding: 5px 5px;
  font-size: 15px;/*フォントサイズ*/
  color: #272343;/*フォントカラー*/
  background: #ffd803;/*背景色*/
}


/*top.htmlのみ*/
.ribbon {
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  font-size: 18px;/*フォントサイズ*/
  color: #272343;/*フォントカラー*/
  background: #ffd803;/*背景色*/
}

.ribbon:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #272343;/*折り返し部分*/
}

.ribbon:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-left: solid 20px #272343;/*折り返し部分*/
}

/*== ボタン共通設定 */
.btn {
	/*アニメーションの起点とするためrelativeを指定*/
	position: relative;
	overflow: hidden;
	/*ボタンの形状*/
	text-decoration: none;
	display: inline-block;
	border: 1px solid #555; /* ボーダーの色と太さ */
	padding: 10px 30px;
	text-align: center;
	outline: none;
	/*アニメーションの指定*/
	transition: ease .2s;
}

/*ボタン内spanの形状*/
.btn span {
	position: relative;
	z-index: 3; /*z-indexの数値をあげて文字を背景よりも手前に表示*/
	color: #333;
}

.btn:hover span {
	color: #333;
}

/*== 背景が流れる（斜め） */
.bgskew::before {
	content: '';
	/*絶対配置で位置を指定*/
	position: absolute;
	top: 0;
	left: -130%;
	/*色や形状*/
	background: #ffd803;
	width: 120%;
	height: 100%;
	transform: skewX(-25deg);
}

/*hoverした時のアニメーション*/
.bgskew:hover::before {
	animation: skewanime .5s forwards; /*アニメーションの名前と速度を定義*/
}

@keyframes skewanime { 100% {
	left: -10%; /*画面の見えていない左から右へ移動する終了地点*/
}

}

/*テーブルデザイン*/
table {
	background-color: #fffffe;
	border-style: none;
	border-spacing: 0;
	width: 1000px;
	margin: auto;
}

table tr {
	border: 0px none;
	cursor: pointer;
}

/*table tr:hover{
  background-color: #d4f0fd;
}*/
table th, table td {
	text-align: center;
	width: 100px;
	padding: 1em;
}

/*登録ボタン*/
.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100px;
  height: 35px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #ffd803;
  background: #fff;
  color: #ffd803;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
}

button:hover{
  background: #ffd803;
  color: #fff;
}

button span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}

.success{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}

.success svg{
  width: 20px;
  height: 20px;
  fill: yellowgreen;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .35s;
}

button.is_active{
  width: 40px;
  height: 40px;
}

button.is_active .success{
  opacity: 1;
  visibility: visible;
}

button.is_active .success svg{
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

button.is_active span{
  opacity: 0;
  visibility: hidden;
}

/*削除*/
.green{
  position: relative;
  width: 100%;
  height: 100%;
}

.delete{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100px;
  height: 35px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid yellowgreen;
  background: #fff;
  color: yellowgreen;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
}

button:hover{
  background: #ffd803;
  color: #fff;
}

button span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}

.success{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}

.success svg{
  width: 20px;
  height: 20px;
  fill: yellowgreen;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .35s;
}

button.is_active{
  width: 40px;
  height: 40px;
}

button.is_active .success{
  opacity: 1;
  visibility: visible;
}

button.is_active .success svg{
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

button.is_active span{
  opacity: 0;
  visibility: hidden;
}

