<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/categorylist.css}" rel="stylesheet">
<title>カテゴリー</title>
</head>
<body>
	<h1>カテゴリーリスト</h1>
	<p><span th:text="'（'+${session.user.getName()}+' さんがログイン中）'"></span></p>
	<table border="1">
		<tr>
			<td>カテゴリ</td>
			<td>削除</td>
		<tr>
		<tr th:each="cList:${categoryList}">
			<td th:text="${cList.name}"></td>

			<td>
				<form action="/deleteCategory" method="POST">
					<input type="hidden" name="code" th:value="${cList.code}">
					<div class="green">
						<button type="submit" class="delete">削除</button>
					</div>
				</form>
			</td>
		</tr>
	</table>
	<br>
	<a href="/in" class="btn bgskew"><span>新規収入入力</span></a>
	<a href="/out" class="btn bgskew"><span>新規支出入力</span></a>
	<a href="/" class="btn bgskew"><span>トップページ</span></a>
</body>
</html>