<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/style.css}" rel="stylesheet">
<title>New category</title>
</head>
<body>
	<h1>新規カテゴリー登録</h1>
	<p>
		<span th:text="'（'+${session.user.getName()}+' さんがログイン中）'"></span>
	</p>
	<form action="/addCategory" method="post">
		<table border="1">
			<tr>
				<td>新規カテゴリ名</td>
				<td><input type="text" name="name"></td>
				<td><div><input type="submit" value="登録"></div></td>
			<tr>
		</table>
	</form>
	<br>
	<a href="/in" class="btn bgskew"><span>新規収入入力</span></a>
	<a href="/out" class="btn bgskew"><span>新規支出入力</span></a>
	<a href="/" class="btn bgskew"><span>トップページ</span></a>
</body>
</html>