<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/style.css}" rel="stylesheet">
<title>収入入力画面</title>
</head>
<body>
	<h1>新規収入登録</h1>
	<p><span th:text="'（'+${session.user.getName()}+' さんがログイン中）'"></span></p>
	<form action="/inAdd" name="check" method="POST">
	<table border="1">
		<tr>
			<td>年</td>
			<td>月</td>
			<td>日</td>
			<td>カテゴリ</td>
			<td>金額</td>
			<td>登録</td>

		</tr>
		<tr>
			<td><select name="year">
					<option th:each="i : ${#numbers.sequence(2020,2030 )}"
						th:value="${i}" th:text="${i}"></option>
			</select></td>
			<td><select name="month">
					<option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}"
						th:text="${i}"></option>
			</select></td>
			<td><select name="date">
					<option th:each="i : ${#numbers.sequence(1, 31)}" th:value="${i}"
						th:text="${i}"></option>
			</select></td>
			<td><select name="category">
					<option th:each="cList:${category}" th:value="${cList.name}"
						th:text="${cList.name}"></option>
			</select></td>
			<td><input type="text" name="money"></td>
			<td><div class="wrapper">
						<button type="button" class="">
							<span>登録</span>
							<div class="success">
								<svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
									viewBox="0 0 29.756 29.756"
									style="enable-background: new 0 0 29.756 29.756;"
									xml:space="preserve">
                                   <path d="M29.049,5.009L28.19,4.151c-0.943-0.945-2.488-0.945-3.434,0L10.172,18.737l-5.175-5.173   c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.752   c0.944,0.943,2.489,0.943,3.433,0L29.049,8.442C29.991,7.498,29.991,5.953,29.049,5.009z" />
                                </svg>
							</div>
						</button>
					</div></td>
		</tr>
	</table>
	</form>
	<br>
	<a href="/inDisp" class="btn bgskew"><span>収入一覧表示</span></a>
	<a href="/newCategory" class="btn bgskew"><span>新規カテゴリ登録</span></a>
	<a href="/out" class="btn bgskew"><span>新規支出入力</span></a>
	<a href="/" class="btn bgskew"><span>トップページ</span></a>
	<script>
		let btn = document.querySelector("button");

		btn.addEventListener("click", active);

		function active() {
			btn.classList.toggle("is_active");
			 setTimeout(function(){
                 document.check.submit();
                 }, 1200);
		}
	</script>
</body>
</html>