<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>収入入力画面</title>
</head>
<body>
	<h1>新規収入登録</h1>
	<span th:text="'（'+${session.user.getName()}+' さんがログイン中）'"></span>
	<form action="/inAdd" method="POST">
	<table border="1">
		<tr>
			<td>年</td>
			<td>月</td>
			<td>日</td>
			<td>カテゴリ</td>
			<td>金額</td>
			<td>登録</td>

		</tr>
		<tr>
			<td><select name="year">
					<option th:each="i : ${#numbers.sequence(2020,2030 )}"
						th:value="${i}" th:text="${i}"></option>
			</select></td>
			<td><select name="month">
					<option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}"
						th:text="${i}"></option>
			</select></td>
			<td><select name="date">
					<option th:each="i : ${#numbers.sequence(1, 31)}" th:value="${i}"
						th:text="${i}"></option>
			</select>
			<td><select name="category">
					<option th:each="cList:${category}" th:value="${cList.name}"
						th:text="${cList.name}"></option>
			</select></td>
			<td><input type="text" name="money"></td>
			<td><input type="submit" value="登録"></td>
		</tr>
	</table>
	</form>
	<form action="/inDisp">
		<input type="submit" value="収入一覧表示">
	</form>
	<form action="/newCategory">
		<input type="submit" value="新規カテゴリ登録">
	</form>
	<form action="/out">
		<input type="submit" value="新規支出登録">
	</form>
	<form action="/">
		<input type="submit" value="トップ">
	</form>
</body>
</html>