<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/image/neko.jpeg">
<link th:href="@{/css/style.css}" rel="stylesheet">
<title>収入一覧</title>
</head>
<body>
	<div class="ashi">
		<img src="/image/a.png" alt="足跡">
		<h1>KAKEINEKO</h1>
		<img src="/image/a.png" alt="足跡">
	</div>
	<p class="ribbon8">
		<span th:text="'（'+${session.user.getName()}+' さんがログイン中）'"></span>
	</p>
	<br>
	<br>
	<br>
	<div class="moji">収入一覧</div>
	<br>
	<table border="1">
		<tr>
			<td>年月日</td>
			<td>カテゴリ</td>
			<td>金額</td>
			<td>編集</td>
			<td>削除</td>
		<tr>
		<tr th:each="mList:${moneyList}">
			<td th:if="${mList.flug == 1}" th:text="${mList.date}"></td>
			<td th:if="${mList.flug == 1}" th:text="${mList. category}"></td>
			<td th:if="${mList.flug == 1}" th:text="${'\' + mList.cost}"></td>
			<td th:if="${mList.flug == 1}">
				<form action="/updataDisp" name="check" method="POST">
					<input type="hidden" name="code" th:value="${mList.code}">
					<div class="wrapper">
						<button type="submit">編集</button>
					</div>
				</form>
			</td>
			<td th:if="${mList.flug == 1}">
				<form action="/delete" method="POST">
					<input type="hidden" name="code" th:value="${mList.code}">
					<input type="hidden" name="flug" th:value="${mList.flug}">
					<div class="green">
						<button type="submit" class="delete">削除</button>
					</div>
				</form>
			</td>
		</tr>
	</table>
	<br>
	<a href="/in" class="btn bgskew"><span>新規収入入力</span></a>
	<a href="/" class="btn bgskew"><span>トップページ</span></a>
</body>
</html>