<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/image/neko.jpeg">
<link th:href="@{/css/loginsignup.css}" rel="stylesheet">
<title>ログイン</title>
</head>
<div class="form-wrapper">
	<h1>ログイン</h1>
	<div th:if="${message != null}" class="mess">
		<span th:text="${message}" style="color: red"></span>
	</div>
	<div class="form-wrapper">
		<form action="/login" method="post">
			<div class="form-item">
				<label for="USER_ID"></label> <input type="text" name="USER_ID"
					required="required" placeholder=" ユーザーID"></input>
			</div>
			<div class="form-item">
				<label for="password"></label> <input type="password"
					name="PASSWORD" required="required" placeholder="パスワード"></input>
			</div>
			<div class="button-panel">
				<input type="submit" class="button" title="Sign In" value="ログイン"></input>
			</div>
		</form>
		<div class="form-footer">
			<p>
				<a href="/signup" class="btn bgskew"><span>新規会員登録</span></a>
			</p>
		</div>
	</div>
</div>
</body>
</html>
