<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/image/neko.jpeg">
<link th:href="@{/css/monthyear.css}" rel="stylesheet">
<title>月間レポート</title>
</head>
<body>
	<h1>月間レポート</h1>
	<p>
		<span th:text="'（'+${session.user.getName()}+' さんがログイン中）'"></span>
	</p>
	<form action="/month" method="POST">
		<select name="YEAR">
			<option th:each="i : ${#numbers.sequence(2020,2030 )}"
				th:value="${i}" th:text="${i}+ '年'"></option>
		</select> <select name="MONTH">
			<option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}"
				th:text="${i}+ '月'"></option>
		</select> <input type="submit" value="更新">
	</form>
	<table border="1" class="totaltable">
		<tr>
			<td>年</td>
			<td>月</td>
			<td>収入合計</td>
			<td>支出合計</td>
			<td>貯蓄</td>
		</tr>
		<tr th:each="mList:${monthList}">
			<td th:if="${year == mList.year && month == mList.month}"
				th:text="${mList.year}"></td>
			<td th:if="${year == mList.year && month == mList.month}"
				th:text="${mList.month}"></td>
			<td th:if="${year == mList.year && month == mList.month}"
				th:text="${mList.intotal}"></td>
			<td th:if="${year == mList.year && month == mList.month}"
				th:text="${mList. outtotal}"></td>
			<td th:if="${year == mList.year && month == mList.month}"
				th:text="${mList.total}"></td>
	</table>

<br>

	<span th:replace="PieChart"></span>

	<br>
	<br>
	<a href="/in" class="btn bgskew"><span>新規収入入力</span></a>
	<a href="/out" class="btn bgskew"><span>新規支出入力</span></a>
	<a href="/year" class="btn bgskew"><span>年間レポート</span></a>
	<a href="/" class="btn bgskew"><span>トップページ</span></a>

</body>
</html>