<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>月間レポート</title>
</head>
<body>
	<h1>月間レポート</h1>
	<select name="year">
		<option th:each="i : ${#numbers.sequence(2020,2030 )}" th:value="${i}"
			th:text="${i}"></option>
	</select>
	<input type="submit" value="更新">
	<table border="1">
		<tr>
			<td>月</td>
			<td>収入合計</td>
			<td>支出合計</td>
			<td>貯蓄</td>
		</tr>
	</table>
	<form action="/in">
		<input type="submit" value="新規収入入力">
	</form>
	<form action="/out">
		<input type="submit" value="新規支出入力">
	</form>
	<form action="/year">
		<input type="submit" value="年間レポート">
	</form>
	<form action="/">
		<input type="submit" value="トップ">
	</form>
</body>
</html>