<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/style.css}" rel="stylesheet">
<title>支出一覧</title>
</head>
<body>
	<h1>支出一覧</h1>
	<p>
		<span th:text="'（'+${session.user.getName()}+' さんがログイン中）'"></span>
	</p>
	<table border="1">
		<tr>
			<td>年月日</td>
			<td>カテゴリ</td>
			<td>金額</td>
			<td>更新</td>
			<td>削除</td>
		<tr>
		<tr th:each="mList:${moneyList}">
			<td th:if="${mList.flug == 2}" th:text="${mList.viewDate}"></td>
			<td th:if="${mList.flug == 2}" th:text="${mList. category}"></td>
			<td th:if="${mList.flug == 2}" th:text="${mList.cost}"></td>
			<td th:if="${mList.flug == 2}">
				<form action="/updataDisp" method="POST">
					<input type="hidden" name="code" th:value="${mList.code}">
					<input type="submit" value="更新">
				</form>
			</td>
			<td th:if="${mList.flug == 2}">
				<form action="/delete" method="POST">
					<input type="hidden" name="code" th:value="${mList.code}">
					<input type="hidden" name="flug" th:value="${mList.flug}">

					<input type="submit" value="削除">
				</form>
			</td>
		</tr>
	</table>
	<a href="/out" class="btn bgskew"><span>新規支出入力</span></a>
	<a href="/" class="btn bgskew"><span>トップページ</span></a>
</body>
</html>