<head>

<!-- Ignite UI for jQuery Required Combined CSS Files -->
<link
	href="http://cdn-na.infragistics.com/igniteui/2021.1/latest/css/themes/infragistics/infragistics.theme.css"
	rel="stylesheet" />
<link
	href="http://cdn-na.infragistics.com/igniteui/2021.1/latest/css/structure/infragistics.css"
	rel="stylesheet" />

<script
	src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<!-- Ignite UI for jQuery Required Combined JavaScript Files -->
<script
	src="http://cdn-na.infragistics.com/igniteui/2021.1/latest/js/infragistics.core.js"></script>
<script
	src="http://cdn-na.infragistics.com/igniteui/2021.1/latest/js/infragistics.dv.js"></script>
<script
	src="http://cdn-na.infragistics.com/igniteui/2021.1/latest/js/infragistics.lob.js"></script>
</head>
<body>

	<!-- Widget target elements -->
	<div id="chart"></div>
	<div id="legend"></div>

	<script th:inline="javascript">
		$(function() {

			//TotalControllerから送られた円グラフの要素データ受け取り
			/*<![CDATA[*/
			var pieData = /*[[${pieList}]]*/;

			/*]]>*/

			//カテゴリの数で配列の要素数決定
			data = [pieData.length];

			//円グラフの表示要素を登録
			for(i = 0; i < pieData.length; i++){
				data[i] = {"Budget" : pieData[i].cost,
					"Label" : pieData[i].name + ' : ' + pieData[i].cost};
			}

			if(data.length != null){

				$('#chart').igPieChart({
					dataSource : data,
					width : '600px',
					height : '500px',
					valueMemberPath : 'Budget',
					labelMemberPath : 'Label',
					//explodedSlices : [ 2, 3 ],
					radiusFactor : .6,
					labelsPosition : "bestFit",
					leaderLineType : "arc",
					labelExtent : 40,
					legend : {
						element : 'legend',
						type : "item"
					}
				});

				$("#angle").slider({
					slide : function(event, ui) {
						$("#chart").igPieChart("option", "startAngle", ui.value);
					},
					min : 0,
					max : 360
				});

				$("#radius").slider(
						{
							slide : function(event, ui) {
								$("#chart").igPieChart("option", "radiusFactor",
										ui.value / 1000.0);
							},
							min : 0,
							max : 1000,
							value : 600
						});

				$("#labelExtent").slider({
					slide : function(event, ui) {
						$("#chart").igPieChart("option", "labelExtent", ui.value);
					},
					min : 0,
					max : 50,
					value : 40
				});

				$("#explodedRadius").slider(
						{
							slide : function(event, ui) {
								$("#chart").igPieChart("option", "explodedRadius",
										ui.value / 100);
							},
							min : 0,
							max : 100,
							value : 20
						});

				$("#labelPosition")
						.igCombo(
								{
									enableClearButton : false,
									mode : "dropdown",
									selectionChanged : function(evt, ui) {
										if ($.isArray(ui.items)
												&& ui.items[0] != undefined) {
											$("#chart").igPieChart("option",
													"labelsPosition",
													ui.items[0].data.value);

											$("#labelExtent")
													.slider(
															"option",
															"disabled",
															ui.items[0].data.value != "outsideEnd");
											$("#leaderLine")
													.igCombo(
															"option",
															"disabled",
															ui.items[0].data.value != "outsideEnd" ? true
																	: false);
										}
									}
								});

				$("#leaderLine")
						.igCombo(
								{
									enableClearButton : false,
									mode : "dropdown",
									selectionChanged : function(evt, ui) {
										if ($.isArray(ui.items)
												&& ui.items[0] != undefined) {
											$("#chart").igPieChart("option",
													"leaderLineType",
													ui.items[0].data.value);
										}
									}
								});
				}
		});
	</script>

</body>
