<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/style.css}" rel="stylesheet">
<meta charset="UTF-8">
<title>トップ画面</title>
</head>
<body>

	<h1>KAKEINEKO</h1>
	<br>
	<span th:text="'（'+${session.user.getName()}+' さんがログイン中）'"></span>

	<form action="/newCategory">
		<p>
			<input type="submit" value="新規カテゴリ登録">
		</p>
	</form>
	<form action="/in">
		<p>
			<input type="submit" value="新規収入入力">
		</p>
	</form>
	<form action="/inDisp">
		<p>
			<input type="submit" value="収入一覧表示">
		</p>
	</form>
	<form action="/out">
		<p>
			<input type="submit" value="新規支出入力">
		</p>
	</form>
	<form action="/outDisp">
		<p>
			<input type="submit" value="支出一覧表示">
		</p>
	</form>
	<form action="/CategoryDisp">
		<p>
			<input type="submit" value="登録カテゴリ一覧">
		</p>
	</form>
	<form action="/month">
		<p>
			<input type="submit" value="月間レポート">
		</p>
	</form>
	<form action="/year">
		<p>
			<input type="submit" value="年間レポート">
		</p>
	</form>
	<form action="/logout">
		<p>
			<input type="submit" value="ログアウト">
		</p>
	</form>


</body>
</html>