<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/style.css}" rel="stylesheet">
<title>更新</title>
</head>
<body>
	<h1>更新</h1>
	<p><span th:text="'（'+${session.user.getName()}+' さんがログイン中）'"></span></p>
	<form action="/update" method="POST">
		<input type="hidden" name="code" th:value="${code}"> <input
			type="hidden" name="flug" th:value="${flug}">
		<table border="1">
			<tr>
				<td><select name="year">
						<option th:each="i : ${#numbers.sequence(2020,2030 )}"
							th:value="${i}" th:text="${i}"></option>
				</select></td>
				<td><select name="month">
						<option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}"
							th:text="${i}"></option>
				</select></td>
				<td><select name="date">
						<option th:each="i : ${#numbers.sequence(1, 31)}" th:value="${i}"
							th:text="${i}"></option>
				</select>
				<td><select name="category">
						<option th:each="cList:${category}" th:value="${cList.name}"
							th:text="${cList.name}"></option>
				</select></td>
				<td>金額</td>
				<td><input type="text" name="cost"></td>
			</tr>
		</table>
		<br> <input type="submit" value="更新"> <br>
	</form>
</body>
</html>