<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>年間レポート</title>
</head>
<body>
	<h1>年間レポート</h1>
	<span th:text="'（'+${session.user.getName()}+' さんがログイン中）'"></span>

	<form action = "/year" method = "POST">
		<select name="YEAR">
			<option th:each="i : ${#numbers.sequence(2020,2030 )}" th:value="${i}"
				th:text="${i}+ '年'"></option>

		</select>
		<input type="submit" value="更新">

	</form>

	<table border="1">
		<tr>
			<td>年</td>
			<td>収入合計</td>
			<td>支出合計</td>
			<td>貯蓄</td>
		</tr>
		<tr th:each="yList:${yearList}">
			<td th:if="${year == yList.year}" th:text="${yList.year}"></td>
			<td th:if="${year == yList.year}" th:text="${yList.intotal}"></td>
			<td th:if="${year == yList.year}" th:text="${yList. outtotal}"></td>
			<td th:if="${year == yList.year}" th:text="${yList.total}"></td>
	</table>
	<form action="/in">
		<input type="submit" value="新規収入入力">
	</form>
	<form action="/out">
		<input type="submit" value="新規支出入力">
	</form>
	<form action="/month">
		<input type="submit" value="月間レポート">
	</form>
	<form action="/">
		<input type="submit" value="トップ">
	</form>
</body>
</html>