<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/image/neko.jpeg">
<link th:href="@{/css/monthyear.css}" rel="stylesheet">
<title>年間レポート</title>
</head>
<body>
	<h1>年間レポート</h1>
	<p>
		<span th:text="'（'+${session.user.getName()}+' さんがログイン中）'"></span>
	</p>

	<form action="/year" method="POST">
		<select name="YEAR">
			<option th:each="i : ${#numbers.sequence(2020,2030 )}"
				th:value="${i}" th:text="${i}+ '年'" th:selected="${i == year}"></option>

		</select> <input type="submit" value="更新">

	</form>

	<table border="1" class="totaltable">
		<tr>
			<td>年</td>
			<td>収入合計</td>
			<td>支出合計</td>
			<td>貯蓄</td>
		</tr>
		<tr th:each="yList:${yearList}">
			<td th:if="${year == yList.year}" th:text="${yList.year}"></td>
			<td th:if="${year == yList.year}" th:text="${'\' + yList.intotal}"></td>
			<td th:if="${year == yList.year}" th:text="${'\' + yList. outtotal}"></td>
			<td th:if="${year == yList.year}" th:text="${'\' + yList.total}"></td>
	</table>
	<br>

	<span th:replace="PieChart"></span>

	<br>

	<a href="/in" class="btn bgskew"><span>新規収入入力</span></a>
	<a href="/out" class="btn bgskew"><span>新規支出入力</span></a>
	<a href="/month" class="btn bgskew"><span>月間レポート</span></a>
	<a href="/" class="btn bgskew"><span>トップページ</span></a>

</body>
</html>